<%- include('../partials/header') %>

<% sneakers.forEach((sneaker) => { %>
<a href="#">
  <div class="card" style="width: 18rem;">
    <img src='../../images/<%= sneaker.model %>.jpeg' class="card-img-top" alt="<%= sneaker.model %>">
    <div class="card-body">
      <h5 class="card-title"><%= sneaker.model %></h5>
      <p class="card-text">Lowest Ask US$ <%= sneaker.bidAndAsk[0].ask %></p>
    </div>
  </div>
</a>
<% })%>
